/****** Object:  Database [Bolsa_Trabajo]    Script Date: 25/02/2015 12:34:31 p.m. ******/

/****** Object:  Table [dbo].[candidatos]    Script Date: 25/02/2015 12:34:32 p.m. ******/
CREATE TABLE [dbo].[candidatos](
	[nIdCandidato] [int] IDENTITY(1,1) NOT NULL,
	[sNombreCandidato] [varchar](255) NULL,
	[sApellidosCandidato] [varchar](255) NULL,
	[sNacionalidad] [varchar](100) NULL,
	[sEmailPrimario] [varchar](255) NULL,
	[sEmailSecundario] [varchar](255) NULL,
	[nIdGenero] [int] NULL,
	[dFechaNacimiento] [date] NULL,
	[nIdMunicipio] [int] NULL,
	[sTelefonoContacto] [varchar](15) NULL,
 CONSTRAINT [PK__candidat__7B0564E9928218BE] PRIMARY KEY CLUSTERED 
(
	[nIdCandidato] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO

/****** Object:  Table [dbo].[categorias]    Script Date: 25/02/2015 12:34:32 p.m. ******/
CREATE TABLE [dbo].[categorias](
	[nIdCategoria] [int] IDENTITY(1,1) NOT NULL,
	[sNombreCategoria] [nvarchar](50) NULL,
 CONSTRAINT [PK_categorias] PRIMARY KEY CLUSTERED 
(
	[nIdCategoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[empresas]    Script Date: 25/02/2015 12:34:32 p.m. ******/
CREATE TABLE [dbo].[empresas](
	[nIdEmpresa] [int] IDENTITY(1,1) NOT NULL,
	[sNombreEmpresa] [nvarchar](50) NULL,
	[sPathImage] [nvarchar](200) NULL,
	[sDescripcion] [text] NULL,
	[sTelefono] [char](10) NULL,
	[sDireccion] [nchar](255) NULL,
	[sEmail] [nchar](255) NULL,
 CONSTRAINT [PK_empresas] PRIMARY KEY CLUSTERED 
(
	[nIdEmpresa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[municipios]    Script Date: 25/02/2015 12:34:32 p.m. ******/
CREATE TABLE [dbo].[municipios](
	[nIdMunicipio] [int] NOT NULL,
	[sNombreMunicipio] [varchar](100) NULL,
	[nIdPais] [int] NOT NULL,
 CONSTRAINT [PK_municipios] PRIMARY KEY CLUSTERED 
(
	[nIdMunicipio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ofertas]    Script Date: 25/02/2015 12:34:32 p.m. ******/
CREATE TABLE [dbo].[ofertas](
	[nIdOferta] [int] IDENTITY(1,1) NOT NULL,
	[nIdEmpresa] [int] NULL,
	[sTituloOferta] [nvarchar](100) NULL,
	[nTipoJornada] [int] NULL,
	[nTipoContrato] [int] NULL,
	[fSalario] [float] NULL,
	[nIdLocalidad] [int] NULL,
	[nTipoLocalidad] [int] NULL,
	[nIdCategoria] [int] NULL,
	[dFechaPublicacion] [date] NULL,
	[sDescripcion] [text] NULL,
	[fechaContratacion] [date] NULL,
	[nVacantes] [int] NULL,
 CONSTRAINT [PK_ofertas] PRIMARY KEY CLUSTERED 
(
	[nIdOferta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[paises]    Script Date: 25/02/2015 12:34:32 p.m. ******/
CREATE TABLE [dbo].[paises](
	[nIdPais] [int] NOT NULL,
	[sNombrePais] [varchar](150) NOT NULL,
 CONSTRAINT [PK_paises] PRIMARY KEY CLUSTERED 
(
	[nIdPais] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[candidatos] ON 

INSERT [dbo].[candidatos] ([nIdCandidato], [sNombreCandidato], [sApellidosCandidato], [sNacionalidad], [sEmailPrimario], [sEmailSecundario], [nIdGenero], [dFechaNacimiento], [nIdMunicipio], [sTelefonoContacto]) VALUES (1, N'Rodrigo José', N'Olivares Vasquez', N'Salvadoreño', N'rodrigo.olivares@udb.edu.sv', NULL, 1, CAST(0x33170B00 AS Date), 4, N'22726985')
INSERT [dbo].[candidatos] ([nIdCandidato], [sNombreCandidato], [sApellidosCandidato], [sNacionalidad], [sEmailPrimario], [sEmailSecundario], [nIdGenero], [dFechaNacimiento], [nIdMunicipio], [sTelefonoContacto]) VALUES (2, N'Ana Patricia', N'Rivera Ramirez', N'Salvadoreño', N'patricia.rivera.ramirez@udb.edu.sv', NULL, 2, CAST(0x97170B00 AS Date), 2, N'25143094')
INSERT [dbo].[candidatos] ([nIdCandidato], [sNombreCandidato], [sApellidosCandidato], [sNacionalidad], [sEmailPrimario], [sEmailSecundario], [nIdGenero], [dFechaNacimiento], [nIdMunicipio], [sTelefonoContacto]) VALUES (3, N'Rafael Ernesto', N'De León León', N'Salvadoreño', N'rafael.deleon@udb.edu.sv', NULL, 1, CAST(0xE2160B00 AS Date), 4, N'25143095')
SET IDENTITY_INSERT [dbo].[candidatos] OFF
SET IDENTITY_INSERT [dbo].[categorias] ON 

INSERT [dbo].[categorias] ([nIdCategoria], [sNombreCategoria]) VALUES (1, N'Marketing/Ventas')
INSERT [dbo].[categorias] ([nIdCategoria], [sNombreCategoria]) VALUES (2, N'Administración/Oficina')
INSERT [dbo].[categorias] ([nIdCategoria], [sNombreCategoria]) VALUES (3, N'Ingeniería')
SET IDENTITY_INSERT [dbo].[categorias] OFF
SET IDENTITY_INSERT [dbo].[empresas] ON 

INSERT [dbo].[empresas] ([nIdEmpresa], [sNombreEmpresa], [sPathImage], [sDescripcion], [sTelefono], [sDireccion], [sEmail]) VALUES (2, N'Contactos y Oportunidades, S.A. de C.V.', NULL, N'Empresa de sólido prestigio a nivel regional, dedicados a los servicios de HeadHunter y Outsourcing, para diferentes empresas. Empresa del sector RRHH/Personal, localizada en San Salvador, De 51 a 200 trabajadores', NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[empresas] OFF
INSERT [dbo].[municipios] ([nIdMunicipio], [sNombreMunicipio], [nIdPais]) VALUES (1, N'Santa Ana', 1)
INSERT [dbo].[municipios] ([nIdMunicipio], [sNombreMunicipio], [nIdPais]) VALUES (2, N'Ahuachapán', 1)
INSERT [dbo].[municipios] ([nIdMunicipio], [sNombreMunicipio], [nIdPais]) VALUES (3, N'Sonsonate', 1)
SET IDENTITY_INSERT [dbo].[ofertas] ON 

INSERT [dbo].[ofertas] ([nIdOferta], [nIdEmpresa], [sTituloOferta], [nTipoJornada], [nTipoContrato], [fSalario], [nIdLocalidad], [nTipoLocalidad], [nIdCategoria], [dFechaPublicacion], [sDescripcion], [fechaContratacion], [nVacantes]) VALUES (2, 1, N'Programador Java Junior', 1, 1, 600, 5, 1, 5, CAST(0xA4390B00 AS Date), NULL, CAST(0xAA390B00 AS Date), 2)
INSERT [dbo].[ofertas] ([nIdOferta], [nIdEmpresa], [sTituloOferta], [nTipoJornada], [nTipoContrato], [fSalario], [nIdLocalidad], [nTipoLocalidad], [nIdCategoria], [dFechaPublicacion], [sDescripcion], [fechaContratacion], [nVacantes]) VALUES (3, 2, N'Asistente Administrativo', 1, 1, 450, 5, 1, 8, CAST(0xA4390B00 AS Date), NULL, CAST(0xAA390B00 AS Date), 1)
INSERT [dbo].[ofertas] ([nIdOferta], [nIdEmpresa], [sTituloOferta], [nTipoJornada], [nTipoContrato], [fSalario], [nIdLocalidad], [nTipoLocalidad], [nIdCategoria], [dFechaPublicacion], [sDescripcion], [fechaContratacion], [nVacantes]) VALUES (4, 1, N'Programador Java Senior', 1, 2, 1000, 4, 1, 5, CAST(0xA4390B00 AS Date), NULL, CAST(0xAD390B00 AS Date), 1)
SET IDENTITY_INSERT [dbo].[ofertas] OFF
INSERT [dbo].[paises] ([nIdPais], [sNombrePais]) VALUES (1, N'El Salvador')
INSERT [dbo].[paises] ([nIdPais], [sNombrePais]) VALUES (2, N'Guatemala')
INSERT [dbo].[paises] ([nIdPais], [sNombrePais]) VALUES (3, N'Honduras')
ALTER TABLE [dbo].[candidatos]  WITH CHECK ADD  CONSTRAINT [FK_candidatos_municipios] FOREIGN KEY([nIdMunicipio])
REFERENCES [dbo].[municipios] ([nIdMunicipio])
GO
ALTER TABLE [dbo].[candidatos] CHECK CONSTRAINT [FK_candidatos_municipios]
GO
ALTER TABLE [dbo].[municipios]  WITH CHECK ADD  CONSTRAINT [FK_municipios_paises] FOREIGN KEY([nIdPais])
REFERENCES [dbo].[paises] ([nIdPais])
GO
ALTER TABLE [dbo].[municipios] CHECK CONSTRAINT [FK_municipios_paises]
GO
ALTER TABLE [dbo].[ofertas]  WITH CHECK ADD  CONSTRAINT [FK_ofertas_categorias] FOREIGN KEY([nIdCategoria])
REFERENCES [dbo].[categorias] ([nIdCategoria])
GO
ALTER TABLE [dbo].[ofertas] CHECK CONSTRAINT [FK_ofertas_categorias]
GO
ALTER TABLE [dbo].[ofertas]  WITH CHECK ADD  CONSTRAINT [FK_ofertas_empresas] FOREIGN KEY([nIdEmpresa])
REFERENCES [dbo].[empresas] ([nIdEmpresa])
GO
ALTER TABLE [dbo].[ofertas] CHECK CONSTRAINT [FK_ofertas_empresas]
GO
ALTER TABLE [dbo].[ofertas]  WITH CHECK ADD  CONSTRAINT [FK_ofertas_municipios] FOREIGN KEY([nIdLocalidad])
REFERENCES [dbo].[municipios] ([nIdMunicipio])
GO
ALTER TABLE [dbo].[ofertas] CHECK CONSTRAINT [FK_ofertas_municipios]
GO
USE [master]
GO
